body {
  background-color: #AD1C0C;
  font-family: 'Quicksand', sans-serif; }

header {
  background-color: black;
  padding: 5px 0px;
  margin: 0px;
  background-image: url(../Fotos/ImagendeFondo.jpg);
  width: 100%;
  height: 400px; }
  header nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 15px;
    background-color: #AD1C0C;
    margin: 5px;
    border: solid 2px black; }
  header nav ul li :hover {
    background-color: azure; }

.header_logo {
  width: 200px;
  height: 220px;
  opacity: 0.8; }

/* ANIMACION PORTADA TODAS LAS PAGINAS */
.section_portada {
  width: 1300px;
  height: 400px;
  margin-top: 15px;
  animation-name: efecto;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3s; }

/* ANIMACION PORTADA TODAS LAS PAGINAS */
@keyframes efecto {
  0% {
    transform: scale(1.02, 1.02); }
  25% {
    transform: scale(1, 1); }
  50% {
    transform: scale(1.02, 1.02); }
  100% {
    transform: scale(1, 1); } }

/* SECCION BIOGRAFIA INDEX */
.biografia_banda {
  width: 640px;
  height: 40px; }

/* FOTO BANDA INDEX */
.foto_banda {
  margin-left: 670px;
  height: 580px;
  margin-top: 30px; }

.fotob {
  background-color: burlywood;
  width: 100%; }

/* SECCION FOTOS //PAGINA FOTOS */
.seccion_fotos {
  width: 300px;
  height: 300px;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px; }

/* SECCION VIDEOS //PAGINA VIDEOS */
.section_videos {
  margin: 0px 30px;
  margin-top: 20px; }

/* VIDEO PRESENTACION //INDEX */
.video_presentacion {
  margin-bottom: -15px;
  width: 1200px;
  height: 400px; }

/* FOOTER 5 PAGINAS */
.card, .card-body {
  margin-top: 20px;
  border-color: black;
  margin-right: 5px; }

.card-footer {
  background-color: darkgray; }

/* TEXTOS */
h1, h2, h3, h4, h5, h6 {
  text-align: center; }

h1 {
  color: white; }

input {
  text-align: center; }

p {
  text-align: center;
  font-style: italic; }

h5 {
  font-weight: 700; }

h3 {
  font-weight: 700;
  text-align: center; }

a {
  text-decoration: none;
  color: beige; }

/* FORMULARIO CONTACTO */
fieldset {
  margin-right: 0px;
  background-color: grey;
  text-align-last: center;
  padding: 20px;
  margin-top: 0px; }

/* SECCIONES 5 PAGINAS */
div {
  text-align: center;
  padding-bottom: 30px; }

/* BOTONES */
button {
  background-color: #AD1C0C; }

/* PIE DE PAGINA */
.footer {
  padding: 30px; }

.card-group {
  margin-left: 7px; }

/* CSS FLEX PAGINA INDEX Y EVENTOS */
/* CSS FLEX MENU NAVEGACION */
.flexContainer {
  width: 100%;
  height: 140px;
  display: flex;
  flex-flow: column wrap;
  list-style-type: none;
  display: inline-block;
  padding: 40px;
  align-content: center; }

/* CSS FLEX SECCION BIOGRAFIA INDEX */
.flexItem {
  margin-top: 16px;
  width: 640px;
  height: 580px; }

/* CSS FLEX FOTO PORTADA */
.portada {
  width: 100%;
  height: 430px;
  background-color: darkgreen;
  flex-flow: column wrap;
  justify-content: center; }

/* CSS FLEX VIDEO PRESENTACION INDEX */
.video {
  width: 100%;
  height: 500px;
  margin-bottom: 10px;
  background-color: white;
  flex-flow: column wrap;
  background: linear-gradient(90deg, #e5233b 0%, #fd1d1d 0%, #833ab4 0%, #fcb045 100%); }

/* CSS FLEX TITULO PAGINAS */
.flexTitulo {
  width: 100%;
  height: 100px;
  background-color: blueviolet;
  border: solid 2px black; }

/* CSS FLEX LISTADO PAGINA EVENTOS */
.flexItemeventos {
  width: 100%;
  height: 500px;
  background-color: #f5f5f5;
  border: solid 2px black;
  background: radial-gradient(circle, #e5233b 0%, #fd1d1d 0%, #3ab465 0%, #fcb045 100%); }

/* CSS GRID PAGINA FOTOS Y VIDEOS */
/* CSS GRID PAGINA FOTOS */
.gridContainer {
  width: 100%;
  height: 1100px;
  margin-bottom: 20px;
  background-color: darkblue;
  display: grid;
  grid-template-columns: repeat(4, 4fr); }

.gridItem {
  background-color: turquoise;
  border: solid 2px black;
  justify-self: center;
  align-self: center; }

.gridItem :hover {
  transform: scale(1.1, 1.1);
  transition: transform 2s; }

/* CSS GRID PAGINA VIDEOS */
.gridContainervideos {
  margin-bottom: 30px;
  width: 100%;
  height: 1300px;
  background-color: tomato;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-template-areas: "uno dos" "tres cuatro" "cinco seis"; }

.gridItemv {
  background-color: olive;
  border: solid 2px black;
  align-content: center;
  justify-self: unset; }

.gridItemv :hover {
  transform: scale(1.1, 1.1);
  transition: transform 2s; }

.uno {
  background-color: orangered;
  grid-area: uno; }

.dos {
  background-color: palegoldenrod;
  grid-area: dos; }

.tres {
  background-color: purple;
  grid-area: tres; }

.cuatro {
  background-color: rosybrown;
  grid-area: cuatro; }

.cinco {
  background-color: slateblue;
  grid-area: cinco; }

.seis {
  background: teal;
  grid-area: seis; }

/* CSS FLEX PAGINA CONTACTO */
.flexformulario {
  background-color: cadetblue;
  padding: 20px;
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  flex-direction: column;
  width: 100%;
  height: 680px; }

/*MEDIA QUERIES*/
/*TARJETAS BOOTSTRAP*/
@media screen and (max-width: 1422px) {
  .card-group {
    width: 100%; } }

/*MEDIA QUERIES PAGINA INDEX MOVIL*/
@media screen and (max-width: 575px) {
  .biografia_banda {
    height: 1150px;
    width: 100%;
    background-color: burlywood; }
  .foto_banda {
    width: 100%;
    height: 532px;
    margin-left: -1px; }
  .card, .card-body {
    width: 100%;
    height: 700px; }
  .flexItem video {
    width: 100%;
    height: 315px; }
  .video_presentacion {
    padding-top: 30px;
    width: 100%;
    height: 415px; } }

/*MEDIA QUERIES PAGINA EVENTOS MOVIL*/
@media screen and (max-width: 575px) {
  .flexItemeventos {
    width: 100%;
    height: 700px; } }

/*MEDIA QUERIES PAGINA FOTOS MOVIL*/
@media screen and (max-width: 575px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    height: 4500px;
    background-color: #ad1c0c; }
  .gridItem {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    background-color: #a8c526; }
  .flexTitulo {
    width: 100%; }
  .flexItem {
    width: 100%; }
  .section_portada {
    width: 100%;
    margin: 10px; }
  .flexContainer {
    width: 100%;
    padding: 0px; }
  header {
    width: 100%; }
  .footer {
    width: 100%; }
  .cardy {
    width: 100%; }
  .cardys {
    width: 100%; }
  img {
    width: 100%; } }

/*MEDIA QUERIES PAGINA VIDEOS MOVIL*/
@media screen and (max-width: 575px) {
  .gridContainervideos {
    background-color: #ad1c0c;
    width: 100%;
    height: 2600px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "uno " "dos" "tres" "cuatro" "cinco" "seis"; }
  .section_videos {
    width: 280px;
    height: 300px;
    padding: 10px;
    margin-left: 55px; }
  .gridItemv {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "uno " "dos" "tres" "cuatro" "cinco" "seis"; } }

/*MEDIA QUERIES PAGINA CONTACTO  MOVIL*/
@media screen and (max-width: 575px) {
  .flexformulario {
    width: 100%;
    height: 700px; } }

/* FOOTER Y TARJETAS BOOTSTRAP*/
/* EXTEND TARJETAS BOOTSTRAP INDEX */
.card, .card-body {
  background-color: #16366B;
  color: black;
  border-radius: 5px solid white;
  border-color: aliceblue; }

.card-body {
  background-color: burlywood; }

/* MIXIN FOOTER TODAS LAS PAGINAS */
.footer {
  background-color: #16366B;
  color: white;
  border: 1px solid black; }

.cardy {
  background-color: green;
  color: black;
  border: 1px solid white; }

.cardys {
  background-color: green;
  color: white;
  border: 1px solid white; }
