/* CSS FLEX PAGINA INDEX Y EVENTOS */ 


/* CSS FLEX MENU NAVEGACION */ 
.flexContainer {
    width: 100%;
    height: 140px;
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
        display: inline-block;
        padding: 40px;
       align-content: center;
    }
    
 /* CSS FLEX SECCION BIOGRAFIA INDEX */ 

    .flexItem {
        margin-top: 16px;
        width: 640px;
        height: 580px;
    }

    /* CSS FLEX FOTO PORTADA */ 
    
    .portada {
        width: 100%;
        height: 430px; 
    background-color:darkgreen;
    flex-flow: column wrap;
    justify-content: center;
    }
    
/* CSS FLEX VIDEO PRESENTACION INDEX */ 

    .video {
        width: 100%;
        height: 500px;
        margin-bottom: 10px;
    background-color: white;
    flex-flow: column wrap;
    background: linear-gradient(90deg, rgba(229,35,59,1) 0%, rgba(253,29,29,1) 0%, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
    }
    
/* CSS FLEX TITULO PAGINAS */ 

    .flexTitulo{
        width: 100%;
       height: 100px;
        background-color:blueviolet;
        border: solid 2px black;
    }

    /* CSS FLEX LISTADO PAGINA EVENTOS */ 
    
    .flexItemeventos{
    width: 100%;
    height: 500px;
    background-color: #f5f5f5;
    border: solid 2px black;
    background: radial-gradient(circle, rgba(229,35,59,1) 0%, rgba(253,29,29,1) 0%, rgba(58,180,101,1) 0%, rgba(252,176,69,1) 100%);
    }