/*MEDIA QUERIES*/

/*TARJETAS BOOTSTRAP*/
@media screen and (max-width: 1422px) {
    .card-group {
        width: 100%;
    }
}

/*MEDIA QUERIES PAGINA INDEX MOVIL*/

@media screen and (max-width: 575px) {

   
    .biografia_banda {
        background-color: gray;
        height:930px ;
        width: 375px;
    }

    .foto_banda{
      width: 375px;
      height:532px;
     margin-left: -1px;
    }

    .card{
        width: 375px;
        height: 700px;
    }

    .flexItem video{
        width: 375px;
        height: 315px;
    }
    .video_presentacion{
        padding-top: 30px;
        width: 375px; ;
        height: 415px;
    }
}


/*MEDIA QUERIES PAGINA EVENTOS MOVIL*/

@media screen and (max-width: 575px) {
.flexItemeventos{
    width: 375px;
    height: 700px;
}
}

/*MEDIA QUERIES PAGINA FOTOS MOVIL*/

@media screen and (max-width: 575px) {
    .gridContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 375px;
        height: 4500px;
        background-color: #ad1c0c;
    }

    .gridItem {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;
        background-color: #a8c526;
    }
    .flexTitulo {
        width: 375px;
    }
    .flexItem {
        width: 375px;
    }
    .section_portada {
        width: 324px;
        margin: 10px;
    }
    .flexContainer {
        width: 375px;
        padding: 0px;
    }
    header {
        width: 375px;
    }
    .footer {
        width: 375px;
    }
    .cardy {
        width: 375px;
    }
    .cardys {
        width: 375px;
    }
    img {
        width: 375px;
    }
}

/*MEDIA QUERIES PAGINA VIDEOS MOVIL*/

@media screen and (max-width: 575px) {
    
    .gridContainervideos {
        background-color: #ad1c0c;
        width: 375px;
        height: 2600px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "uno "
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis";
    }

    .section_videos {
        width: 280px;
        height: 300px;
        padding: 10px;
        margin-left: 55px;
    }

    .gridItemv {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "uno "
            "dos"
            "tres"
            "cuatro"
            "cinco"
            "seis";
    }
}

/*MEDIA QUERIES PAGINA CONTACTO  MOVIL*/

@media screen and (max-width: 575px) {
    .flexformulario{
        width: 375px;
        height: 700px;
    }
    }